
body * {
/*	border: 1px solid hsl(200, 100%, 80%);*/
	padding: 2px;
}

body inner-column {
/*	border: 1px solid hsl(360, 100%, 80%);*/
	padding: 2px;
}

section:nth-of-type(2) {
	background-color: rgba(240, 241, 244, 1);
}

/*picture img {
	opacity: 0;
}*/

/*picture {
	background-color: var(--shadow);
}*/
