/* 
	BTW in case it isn't obvious... the whole PSSST-CSS idea is a joke 
	like... (it's just CSS)
*/

/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
@import "modules.css";

/* Sections and more stuff */



/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

section.sign-up picture {
	max-width: 80%;
	padding-top: 7vh;
}
section:is(.sign-up, .get-involved) inner-column {
	max-width: var(--tight);
}

section.get-involved {
	background-color: var(--highlight);
}

section.get-involved .button {
	background-color: var(--ink);
	color: var(--paper);
	transition: color .3s ease-in-out;
	
}
section.get-involved .button:hover {
	color: #efefef;
}



@media (prefers-color-scheme: light) {
	section.sign-up {
		background-color: var(--white);
		color: var(--black);
	}

	section.sign-up .button {
		background-color: var(--black);
		color: var(--white);
	}

	section.get-involved {
		background-color: var(--highlight);
		color: var(--black);
	}
}



@media (min-width: 1000px) {
	section.sign-up inner-column {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 40px;
	}
}
