.loud-voice {
	font-size: 2rem;
	line-height: 40px;
	padding: 10px;
	border: 2px solid black;
}

.calm-voice {
	font-size: 1.1rem;
	line-height: 18px;
	padding: 10px;
	border: 2px solid black;
}

/* DIPTYCH */

	text .loud-voice {
		margin: 10px;
	}
	graphic-diptych .loud-voice + .calm-voice {
		margin: 10px 10px 20px 10px ;
	}

/*	CALL TO ACTION ONE */

	.cta-text h2 {
		margin-top: 30px;
	}
	
	cta-one a {
		font-weight: 600;
		color: white;
		background-color: black;
		text-transform: uppercase;
		padding: 10px;
		max-width: 22ch;
		text-align: center;
		margin-bottom: 20px;
		
	}