@import "meyer-reset.css";
@import "setup.css";


body {
	min-width: 100vh;
	padding:100px 10px;
	font-family: helvetica neue;
}

inner-column {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	display: flex;
	flex-direction: column;
}

 h1 {
	font-size: 4rem;
	font-weight: 100;
}

.site-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.site-menu a {
	padding: 10px;
	font-size: 1.5rem;
	font-weight: 500;
}
a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 3.5rem;
	font-weight: 500;
}
main {
	padding-top: 50px;
}

cocktail-card {
	display: block;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.3rem;
}
li h2 {
	padding-top: 15px;
}
h2 + h3, h3 + h4 {
	padding-top: 15px;
}
picture {
	margin: 20px 0px;
}
picture img {
	max-width: 200px;
}
li + li {
	margin-top: 25px;
}
li a {
	padding-top: 15px; 
	text-decoration: underline;
}
li a:hover {
	font-weight: 700;
}



@media (max-width: 1000px) {
	inner-column {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: column; 
		justify-content:;
		align-items: flex-start; 
		flex-wrap: wrap;

}
.site-menu a {
	padding-top: 20px; 
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 1.5rem;
	font-weight: 500;
}
main inner-column {
	display: flex;
}
 h2 {
	font-size: 2.5rem;
}

}
































