@import "meyer-reset.css";
@import "setup.css";


body {
	min-width: 100vh;
	padding:100px 10px;
	font-family: helvetica neue;
}

inner-column {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

 h1 {
	font-size: 4rem;
	font-weight: 100;
	padding-bottom: 10px;
}

.site-menu {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.site-menu a {
	padding: 10px;
	font-size: 1.5rem;
	font-weight: 500;
}
a:hover {
	text-decoration: underline;
}

h2 {
	font-size: 2.5rem;
	font-weight: 500;
}
main {
	padding-top: 50px;
}

li.cocktail {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border: 2px solid black;
	border-radius: 5px;
	padding: 10px;
	max-width: 450px;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.3rem;
}
li h2 {
	padding-top: 15px;
}
h2 + h3, h3 + h4 {
	padding-top: 15px;
}
picture {
	margin: 20px 0px;
}
picture img {
	max-width: 200px;
}
li + li {
	margin-top: 25px;
}
li a {
	padding-top: 15px; 
	text-decoration: underline;
}
li a:hover {
	font-weight: 700;
}

form {
	border: 2px solid black;
	border-radius: 5px;
	padding: 50px 30px;
	max-width: 300px;
}
field {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;

}

field :is(label, input) {
	display: block;
}

field + field {
	margin-top: 20px;
}

form button {
	margin-top: 20px; 
}

label {
	font-size: 1.3rem;
}

button {
	font-size: 1.3rem;
	background-color: white;
	border-radius: 5px;
}
button:hover {
	color: white;
	background-color: black;
}
.error {
	color: purple;
}

/*break points*/


@media (min-width: 700px) {

	inner-column {
		margin-left: auto;
		margin-right: auto;
		display: block;
	}

	.site-menu a {
	padding-top: 20px; 
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 1.5rem;
	font-weight: 500;
}
}
@media (min-width: 1200px) {
	inner-column {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
li.cocktail {
	display: inline-grid; 
	grid-template-columns: 450px 50px 4500px;
   grid-template-rows: 100px auto 100px; 
   column-gap: 25px;
   row-gap: 25px;
	
}


}
































