

@import "meyer-reset.css";
@import "setup.css";

/*MODULES*/
@import "masthead-module.css";
@import "diptych-module.css";
@import "cta-module.css";
@import "article-grid-module.css";

@import "typography.css";
 
 /* STRUCTURE */
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		font-family: helvetica;
	}
	header {
		background-color: #88dfbd;
	}
	inner-column {
		margin-left: auto;
		margin-right: auto;
		max-width: 800px; 
		display: flex;
		flex-direction: column;
		border: 2px solid black;
	}







@media (min-width: 1000px) {
	inner-column {
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px; 
		display: flex;
		flex-direction: column;
		border: 2px solid black;
	}
}





















	

