

@import "meyer-reset.css";
@import "setup.css";

/*MODULES*/
@import "masthead-module.css";
@import "diptych-module.css";
@import "cta-module.css";

@import "typography.css";
 
 /* STRUCTURE */
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		font-family: helvetica;
	}
	header {
		background-color: #88dfbd;
	}
	inner-column {
		margin-left: auto;
		margin-right: auto;
		max-width: 800px; 
		display: flex;
		flex-direction: column;
		border: 2px solid black;
	}

/* ARTICLE GRID MODULE */

.article-grid {
	background-color: #e5704c;
}
article-grid {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
article-header {
	border: 2px solid black;
	padding: 10px;
	margin-top: 60px;
}
.loud-voice + .calm-voice {
	margin-top: 20px;
}

/* ARTICLE CARD MODULE */

article-card {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	padding: 10px;
	margin-top: 10px;
}

	article-card a {
		font-weight: 600;
		color: white;
		background-color: black;
		text-transform: uppercase;
		padding: 10px;
		max-width: 8ch;
		text-align: center;
		margin: 15px 0;
	}




@media (min-width: 1000px) {
	inner-column {
		margin-left: auto;
		margin-right: auto;
		max-width: 1000px; 
		display: flex;
		flex-direction: column;
		border: 2px solid black;
	}
}





















	

