/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*site-css*/
* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}
.inner-column {
	margin-right: auto;
	margin-left: auto;
	max-width: 900px;
	text-align: center;
}
/* site-header */
header {
	background-color: #ffffff;
	padding: 30px;
}
.site-logo {
	width: 150px;
}
.menu {
	display: inline-block;	
}
.nav-link {
	font-family: sans-serif;
	font-weight: 200;
	font-size: 16px;
	text-decoration: none;
	color: #636363;
	padding: 20px;
}
.nav-link:hover {
	text-decoration: underline;
	text-decoration-color: black;
}
/* shop */
.shop {
	background-image: url(https://cdn.shopify.com/s/files/1/0141/4852/files/DC99E706-0F69-4FFD-AA81-1629FDDA01DB_1_105_c.jpg?v=1657564797);
	text-align: center;
}
h1 {
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
	padding-top: 150px;
}
h1 + p {
	font-size: 16px;
	font-weight: 300;
	color: #ffffff;
	letter-spacing: .05em;
	padding: 20px;
}
button {
	display: inline-block;
	width: 200px;
	height: 50px;
	letter-spacing: .05em;
	background-color: #ffffff;
	border: #ffffff;
	border-radius: 2px;
	margin: 20px 20px 150px; 
}
button:hover {
	cursor: pointer;
	transition: .3s;
	transform: scale(1.05) perspective(1px);
}
/*customer-favorites*/
h2 {
	font-size: 26px;
	text-transform: uppercase;
	padding: 30px 30px 30px 0;
	text-align: left;
}

/* about */
img {
	display: inline-block;
	max-width: 280px;
	height: auto;
}
h3 {
	text-transform: uppercase;
	padding: 20px;
}
.p-about {
	line-height: 1.5em;
	max-width: 45ch;
	color: #4b4b4b;
	background-color: #f6f6f6;
}
h4 {
	padding: 20px;
}
.foot-link {
	display: inline-block;
	text-decoration: none;
	color: #8c8c8c;
	padding: 20px;
	font-size: 14px;
}
.foot-link:hover {
	text-decoration: underline;
}
.bbb-logo {
	display: block;
	max-width: 20%;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
}










